{% extends "layout.html.j2" %}
{% block content %}
  <div class="alert alert-info">If the maths symbols on this page (if there are any) do not render as expected then please consider upgrading to a more modern browser and/or ensure that JavaScript is enabled.</div>
  <h2>{{ subtopic.subtopic_name }}</h2>
  <p>Part of <a href="{{ url_for('learn.topic', topic_id=topic.topic_id) }}">{{ topic.topic_name }}</a></p>
  {% block explanation %}{% endblock explanation %}
  <br>
  {% if questions %}
    <h3>Practice Questions</h3>
    <ul>
      {% for question in questions %}
        <li>
          {% if question.paper %}
            <a href="{{ url_for('practise.question', question_id=question.question_id) }}">SQA {{ question.paper }} Question {{ question.question_number }} ({{ question.marks }} marks)</a>
          {% else %}
            <a href="{{ url_for('practise.question', question_id=question.question_id) }}">{{ topic.topic_name }} Question {{ question.question_number }} ({{ question.marks }} marks)</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  {% endif %}

  <br>
  <br>
{% endblock content %}
{% block scripts %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock scripts %}
