{% extends "layout.html.j2" %}
{% block content %}
  <div class="content-section">
    {% if topic_id == 'all' %}
      <h1>Delete All Progress</h1>
      <p>Are you sure you would like to delete all your progress?</p>
    {% else %}
      <h1>Delete Progress for {{ topic_name }}</h1>
      <p>Are you sure you would like to delete all your progress for { topic_name }}?</p>
    {% endif %}
    <a href="{{ url_for('users.delete_progress', topic_id=topic_id) }}" class="btn btn-outline-danger">Yes, delete my progress</a> <a href="{{ url_for('users.account') }}" class="btn btn-outline-info">No, go back</a>
  </div>
{% endblock content %}
