{% extends 'layout.html.j2' %}
{% block content %}
  <div class="content-section">
    <h1>Internal server error (500)</h1>
    <p>An error occurred on the server. Please try again later. Please report this on the <a href="{{ url_for('main.contact') }}">Contact/Report a Problem</a> page.</p>
  </div>
{% endblock content %}
