{% extends 'learn/topic.html.j2' %}
{% block explanation %}
  <p>Integration was introduced in Higher but is expanded upon in Advanced Higher. New content includes some new functions and their integrals and some useful forms. There are also some new integration techniques introduced in Advanced Higher including integration by partial fractions, integration by substitution and integration by parts. Integration can also be applied to calculate volumes of revolution.</p>
{% endblock explanation %}
