{% extends 'layout.html.j2' %}
{% block content %}
  <div class="text-center">
    <h1>Revise</h1>
    <p>Find SQA past and specimen papers and their marking instructions below.</p>
    <br>
  </div>
  <div class="row paper-selection text-center">
    <a style="width: 97%;" class="btn btn-outline-info" href="{{ url_for('static', filename='formulae-list.pdf') }}" target="_blank">Formulae List</a>
    <br>
    <br>
    {% for paper in papers %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail paper-selection-element">
          <h2>{{ paper.paper_name }}</h2>
          <a class="btn btn-outline-info m-2" target="_blank" href="{{ url_for('static', filename='sqa-papers/papers/AH-Maths-' + paper.paper_id + '.pdf') }}">Paper [PDF]</a>
          <a class="btn btn-outline-info m-2" target="_blank" href="{{ url_for('static', filename='sqa-papers/mi/AH-Maths-MI-' + paper.paper_id + '.pdf') }}">Marking Instructions [PDF]</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
