{% extends 'learn/subtopic.html.j2' %}
{% block explanation %}
  <h3>Chain Rule with 2 Functions</h3>
  <p>The chain rule was introduced in Higher and was used to differentiate a function with another nested function.</p>
  <p>For example, \(y = \sin x^2\) can be differentiated using the chain rule. This function has a nested function, which can be separated as follows:</p>
  <p class="math">$$
    \begin{eqnarray}
      \text{Let } u &amp;=&amp; x^2 \\
      \Rightarrow y &amp;=&amp; \sin x^2 = \sin u
    \end{eqnarray}
    $$</p>
  <p>The function can now be differentiated by differentiating the two composite functions first:</p>
  <p class="math">$$
    \begin{eqnarray}
      \frac{du}{dx} &amp;=&amp; 2x \\
      \frac{dy}{du} &amp;=&amp; \cos u \\
      \\

      \frac{dy}{dx} &amp;=&amp; \frac{dy}{du} \cdot \frac{du}{dx}\\
      &amp;=&amp; \cos u \cdot 2x\\
      &amp;=&amp; \underline{\underline{2x \cos x^2}} (\text{since } u = x^2)
    \end{eqnarray}

    $$</p>
    <p>This can also be thought of as first differentiating the inner function, and then the outer function and then multiplying.</p>
    <p>i.e. The derivative of the inner function (\(x^2\)) is \(2x\), and the derivative of the outer function (\(\sin x^2\)) is \(\cos x^2\). These can then be multiplied to get \(2x \cos x^2\).</p>
    <h3>Chain Rule with 3 Functions</h3>
    <p>The chain rule can also be used to differentiate a function with 2 nested functions.</p>
    <p>For example, \(y = e^{\sin x^2}\) is made up of 3 functions. Similarly to above, it can be split into multiple functions which can be differentiated individually.</p>
    <p class="math">$$
        \begin{eqnarray}
        y &amp;=&amp; e^{\sin x^2} \\
        \\
        u &amp;=&amp; x^2 \\
        v &amp;=&amp; \sin x^2 = \sin u \\
        y &amp;=&amp; e^{\sin x^2} = e^v \\
        \\
        \frac{du}{dx} &amp;=&amp; 2x \\
        \frac{dv}{du} &amp;=&amp; \cos u \\
        \frac{dy}{dv} &amp;=&amp; e^v \\
        \\
        \frac{dy}{dx} &amp;=&amp; \frac{dy}{dv} \cdot \frac{dv}{du} \cdot \frac{du}{dx} \cdot \\
        &amp;=&amp; e^v \cdot \cos u \cdot 2x \\
        &amp;=&amp; \underline{\underline{2x \cos x^2 e^{\sin x^2}}} (\text{since } u = x^2 \text{ and } v = \sin x^2)
        \end{eqnarray}
      $$</p>
    <p>Similarly to above, this can be thought of as differentiating each constituent function separately and multiplying the derivates together.</p>
    <p>i.e. The derivative of \(x^2\) is \(2x\), the derivative of \(\sin x^2\) is \(\cos x^2\), and the derivative of \(e^{\sin x^2}\) is \(e^{\sin x^2}\). These can be multiplied together to get \(2x \cos x^2 e^{\sin x^2}\).</p>
    <h3>Chain Rule with more than 3 Functions</h3>
    <p>The chain rule can be used to differentiate a function with any number of constituent functions by following the same process as above, although these are unlikely to come up in an exam.</p>
{% endblock explanation %}
