{% extends 'learn/topic.html.j2' %}
{% block explanation %}
  <p>Differentiation was introduced in Higher but is expanded upon in Advanced Higher. New content includes some new functions and their derivatives, finding and using the second derivative, using the chain rule with more than two functions, and differenting the product and quotient of two functions. There are also some new differentiation techniques introduced in Advanced Higher including parametric, implicit and logarithmic differentiation. Differentiation can also be applied to find speeds and related rates of change.</p>
{% endblock explanation %}
