{% extends 'learn/subtopic.html.j2' %}
{% block explanation %}
  <p>Some new functions and their derivatives are introduced at Advanced Higher.</p>
  <h3>\( e^x \)</h3>
  <p>The derivative of \( e^x \) with respect to \( x \) is \( e^x \) (itself). This is an extremely useful property and will be used a lot in the Advanced Higher course.</p>
  <p>\(e\) is Euler's number and has a value of approximately 2.71828.</p>
  <h3>\( \ln x \)</h3>
  <p>\( \ln \) is known as the natural logarithm and is a logarithm to the base \(e\). i.e. \( \ln x = \log _{e} x \).</p>
  <p>The derivative of \( \ln x \) is \( \frac{1}{x} \).</p>
  <h3>Trigonometric functions</h3>
  <p>The Advanced Higher course introduces three new trigonometric functions.</p>
  <h4>Definitions</h4>

  <p><b>\( \sec x \):</b> The secant of \( x \), denoted \( \sec x \), is equal to \( \frac{1}{\cos x} \).</p>
  <p><b>\( \mathrm{cosec} \text{ } x \):</b> The cosecant of \( x \), denoted \( \mathrm{cosec} \text{ } x \), is equal to \( \frac{1}{\sin x} \). \( \mathrm{cosec} \text{ } x \) can also be written as \( \csc x \).</p>
  <p><b>\( \cot x \):</b> The cotangent of \( x \), denoted \( \cot x \), is equal to \( \frac{1}{\tan x} \).</p>
  <p>These identities can be remembered using the third letter of each.</p>

  <p>i.e. The third letter of \( \mathrm{se\textbf{c}} \) is <b>c</b>, as is the first letter of \( \mathrm{\textbf{c}os} \). i.e. \( \mathrm{se\textbf{c}} \text{ } x = \frac{1}{\mathrm{\textbf{c}os} \text{ } x} \).</p>
  <p>Similarly, \( \mathrm{co\textbf{s}ec} \text{ } x = \frac{1}{\mathrm{\textbf{s}in} \text{ } x} \) and \( \mathrm{co\textbf{t}} \text{ } x = \frac{1}{\mathrm{\textbf{t}an} \text{ } x} \).</p>
  <h4>Derivatives</h4>
  <p>The derivatives for these three functions as well as for \( \tan x \) are new in Advanced Higher and were not covered at Higher. They are all on the formulae list but it is useful to be able to prove them. Their proofs involve the chain and product rules so please use the links to the relevant subtopics on the <a href="url_for('learn.topic', topic_id='differentiation')">Differentiation</a> topic page if you are unsure about them.</p>
  <p class="math">$$
      \begin{eqnarray}
        y &amp;=&amp; \sec x = \frac{1}{\cos x} = (\cos x)^{-1} \\
        \\
        u &amp;=&amp; \cos x \\
        y &amp;=&amp; u^{-1} \\
        \\
        \frac{du}{dx} &amp;=&amp; - \sin x \\
        \frac{dy}{du} &amp;=&amp; - u^{-2} \\
        \\
        \frac{dy}{dx} &amp;=&amp; \frac{dy}{du} \cdot \frac{du}{dx} \\
        &amp;=&amp; (- u^{-2})(- \sin x) \\
        &amp;=&amp; \frac{\sin x}{u^2} \\
        &amp;=&amp; \frac{\sin x}{\cos ^2 x} \text{ (since } u = \cos x) \\
        &amp;=&amp; \frac{\tan x}{\cos x} \text{ (since } \frac{\sin x}{\cos x} = \tan x) \\
        &amp;=&amp; \underline{\underline{\sec x \tan x}} \text{ (since } \frac{1}{\cos x} = \sec x)
      \end{eqnarray}
    $$</p>
    <p class="math">$$
      \begin{eqnarray}
        y &amp;=&amp; \mathrm{cosec} \text{ } x = \frac{1}{\sin x} = (\sin x)^{-1} \\
        \\
        u &amp;=&amp; \sin x \\
        y &amp;=&amp; u^{-1} \\
        \\
        \frac{du}{dx} &amp;=&amp; \cos x \\
        \frac{dy}{du} &amp;=&amp; - u^{-2} \\
        \\
        \frac{dy}{dx} &amp;=&amp; \frac{dy}{du} \cdot \frac{du}{dx} \\
        &amp;=&amp; (- u^{-2})(\cos x) \\
        &amp;=&amp; - \frac{\cos x}{u^2} \\
        &amp;=&amp; - \frac{\cos x}{\sin ^2 x} \text{ (since } u = \sin x) \\
        &amp;=&amp; - \frac{\cot x}{\sin x} \text{ (since } \frac{\cos x}{\sin x} = \frac{1}{\tan x} = \cot x) \\
        &amp;=&amp; - \underline{\underline{\mathrm{cosec} \text{ } x \cot x}} \text{ (since } \frac{1}{\sin x} = \mathrm{cosec} \text{ } x)
      \end{eqnarray}
    $$</p>
    <p class="math">$$
      \begin{eqnarray}
        y &amp;=&amp; \tan x = \frac{\sin x}{\cos x} \\
        \\
        u &amp;=&amp; \sin x \\
        v &amp;=&amp; \cos x \\
        \\
        u' &amp;=&amp; \cos x \\
        v' &amp;=&amp; - \sin x \\
        \\
        \frac{dy}{dx} &amp;=&amp; \frac{vu' - uv'}{v^2} \\
        &amp;=&amp; \frac{\cos ^2 x - (- \sin ^2 x)}{\cos ^2 x} \\
        &amp;=&amp; \frac{\cos ^2 x + \sin ^2 x}{\cos ^2 x} \\
        &amp;=&amp; \frac{1}{\cos ^2 x} \text{ (since } \sin ^2 x + \cos ^2 x = 1) \\
        &amp;=&amp; \underline{\underline{\sec ^2 x}} \text{ (since } \frac{1}{\cos x} = \sec x)
      \end{eqnarray}
    $$</p>
    <p class="math">$$
        \begin{eqnarray}
          y &amp;=&amp; \cot x = \frac{1}{\tan x} = (\tan x)^{-1} \\
          \\
          u &amp;=&amp; \tan x \\
          y &amp;=&amp; u^{-1} \\
          \\
          \frac{du}{dx} &amp;=&amp; \sec ^2 x \\
          \frac{dy}{du} &amp;=&amp; - u^{-2} \\
          \\
          \frac{dy}{dx} &amp;=&amp; \frac{dy}{du} \cdot \frac{du}{dx} \\
          &amp;=&amp; (- u^{-2})(\sec ^2 x) \\
          &amp;=&amp; - \frac{\sec ^2 x}{u^2} \\
          &amp;=&amp; - \frac{\sec ^2 x}{\tan ^2 x} \text{ (since } u = \tan x) \\
          &amp;=&amp; - \frac{\frac{1}{\cos ^2 x}}{\frac{\sin ^2 x}{\cos ^2 x}} \text{ (since } \sec x = \frac{1}{\cos x} \text{ and } \tan x = \frac{\sin x}{\cos x}) \\
          &amp;=&amp; - \frac{1}{\sin ^2 x} \\
          &amp;=&amp; \underline{\underline{- \mathrm{cosec} \text{ } ^2 x}} \text{ (since } \frac{1}{\sin x} = \mathrm{cosec} \text{ } x)
        \end{eqnarray}
      $$</p>

      <p>The derivatives of \(\sin ^{-1} x, \cos ^{-1} x \) and \( \tan ^{-1} x\) are also introduced at Advanced Higher and are as follows:</p>
      <p class="math">$$
        \begin{eqnarray}

          \frac{d}{dx}(\sin ^{-1} x) &amp;=&amp; \frac{1}{\sqrt{1 - x^2}} \\
          \frac{d}{dx}(\cos ^{-1} x) &amp;=&amp; - \frac{1}{\sqrt{1 - x^2}} \\
          \frac{d}{dx}(\tan ^{-1} x) &amp;=&amp; \frac{1}{1 + x^2}

        \end{eqnarray}
      $$</p>

{% endblock explanation %}
