{% extends 'learn/subtopic.html.j2' %}
{% block explanation %}

  <p>Some new functions and their integrals are introduced at Advanced Higher. If you are not familiar with these functions please see the <a href="{{ url_for('learn.subtopic', topic_id='differentiation', subtopic_id='new_functions') }}">New Functions and their Derivatives</a> page here.</p>
  <h3>Standard Integrals</h3>
  <p>The following standard integrals are all on the formulae list. However, it is useful to know and be able to recognise them to help you recognise when an integral is in a useful form.</p>
  <p class="math">$$
    \begin{eqnarray}
      \int e^{ax} dx &amp;=&amp; \frac{1}{a} e^{ax} + c \\
      \int \frac{dx}{x} = \int \frac{1}{x} dx &amp;=&amp; \ln x + c \\
      \int \mathrm{sec}^2 (ax) dx &amp;=&amp; \frac{1}{a} \tan (ax) + c \\
      \int \frac{1}{\sqrt{a^2 - x^2}} dx &amp;=&amp; \sin ^{-1} (\frac{x}{a}) + c \\
      \int \frac{1}{a^2 + x^2} dx &amp;=&amp; \frac{1}{a} \tan ^{-1} (\frac{x}{a}) + c \\
    \end{eqnarray}
  $$</p>
  <h3>Useful Forms</h3>
  <p>The following useful forms are derived using <a href="{{ url_for('learn.subtopic', topic_id='integration', subtopic_id='substitution') }}">integration by substitution</a>. They are not on the formulae list but you are not required to remember them as you can just use integration by substitution instead of using them but they can help you solve certain integrals faster.</p>
  <p class="math">$$
    \begin{eqnarray}
      \int f(x) f'(x) dx &amp;=&amp; \frac{1}{2} (f(x))^2 + c \\
      \int \frac{f'(x)}{f(x)} dx &amp;=&amp; -\ln |f(x)| + c
    \end{eqnarray}
  $$</p>
  <h4>Examples</h4>
  <p>\(\int \sin x \cos x dx\) is in the form \(\int f(x)f'(x) dx\) where \(f(x) = \sin x\).</p>
  <p class="math">$$
    \begin{eqnarray}
      f(x) &amp;=&amp; \sin x \\
      \int f(x) f'(x) dx &amp;=&amp; \frac{1}{2} (f(x))^2 + c \\
      \\
      \int \sin x \cos x dx &amp;=&amp; \underline{\underline{\frac{1}{2} \sin ^2 x + c}}
    \end{eqnarray}
  $$</p>
  <p>A helpful form can be used to find \( \int \tan x dx \).</p>
  <p class="math">$$
    \begin{eqnarray}
      \int \tan x dx &amp;=&amp; \int \frac{\sin x}{\cos x} dx \\
      &amp;=&amp; - \int \frac{- \sin x}{\cos x} dx \\
      &amp;=&amp; \int \frac{f'(x)}{f(x)} dx (\text{Let } f(x) = \cos x) \\
      &amp;=&amp; - \ln |f(x)| + c \\
      &amp;=&amp; \underline{\underline{- \ln|\cos x| + c}}
    \end{eqnarray}
  $$</p>

  <h4>Proofs</h4>
  <p class="math">$$
    \begin{eqnarray}
      \text{Proving } \int f(x)f'(x)dx &amp;=&amp; \frac{1}{2} (f(x))^2 + c \\
      \\
      \text{Let } u &amp;=&amp; f(x) \\
      \frac{du}{dx} &amp;=&amp; f'(x) \\
      du &amp;=&amp; f'(x)dx \\
      dx &amp;=&amp; \frac{1}{f'(x)} du \\
      \\
      LHS = \int f(x)f'(x)dx &amp;=&amp; \int u \cdot f'(x) \cdot \frac{1}{f'(x)} du \\
      &amp;=&amp; \int u du \\
      &amp;=&amp; \frac{1}{2} u^2 + c \\
      &amp;=&amp; \frac{1}{2} (f(x))^2 + c = RHS \\
      \\
      \underline{\underline{\text{Q.E.D}}}

    \end{eqnarray}
  $$</p>
  <p class="math">$$
    \begin{eqnarray}
      \text{Proving } \int \frac{f'(x)}{f(x)}dx &amp;=&amp; \frac{1}{2} (f(x))^2 + c \\
      \\
      \text{Let } u &amp;=&amp; \frac{1}{f(x)} \\
      \frac{du}{dx} &amp;=&amp; f'(x) (- \frac{1}{(f(x))^2}) \\
      \frac{du}{dx} &amp;=&amp; - \frac{f'(x)}{(f(x))^2} \\
      du &amp;=&amp; - \frac{f'(x)}{(f(x))^2} dx \\
      dx &amp;=&amp; - \frac{(f(x))^2}{f'(x)} du \\
      dx &amp;=&amp; - \frac{1}{u^2 \cdot f'(x)} du \\
      \\
      LHS = \int \frac{f'(x)}{f(x)}dx &amp;=&amp; \int f'(x) \cdot \frac{1}{f(x)}dx \\
      &amp;=&amp; \int u \cdot f'(x) (- \frac{1}{u^2 \cdot f'(x)}) du \\
      &amp;=&amp; - \int \frac{1}{u} du \\
      &amp;=&amp; - \ln|u| + c \\
      &amp;=&amp; - \ln|f(x)| + c = RHS
      \\
      \underline{\underline{\text{Q.E.D}}}

    \end{eqnarray}
  $$</p>

{% endblock explanation %}
