{% extends 'layout.html.j2' %}
{% block content %}
  <div class="row">
    <div class="col-md-4 p-2">
      <a class="full-width btn btn-outline-info" href="{{ url_for('learn') }}">
        Learn
      </a>
    </div>
    <div class="col-md-4 p-2">
      <a class="full-width btn btn-outline-info" href="{{ url_for('practise') }}">
        Practise
      </a>
    </div>
    <div class="col-md-4 p-2">
      <a class="full-width btn btn-outline-info" href="{{ url_for('revise') }}">
        Revise
      </a>
    </div>
  </div>
{% endblock content %}
