$mainColor: #2B7EB8;

body {
  font-family: 'Open Sans', sans-serif;
}

.selection a, .thumbnail {
  color: black;
}

.selection a:hover {
  text-decoration: none;
}

.paper-selection .btn-outline-info a:hover {
  text-decoration: none;
  color: white;
}

.selection-element, .paper-selection-element {
  border-color: $mainColor;
}

.selection-element:hover {
  background-color: $mainColor;
  color: white;
}

.question-progress {
  font-size: 1.4em;
}

.text-md {
  font-size: 1.4em;
}

.lightbox img, .dlbmaths-video {
  width: 90%;
}

.bold, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.math {
  border: 1px solid black;
}
