{% extends 'learn/subtopic.html.j2' %}
{% block explanation %}
  <h3>First derivative</h3>
  <p>In parametric differentiation, the variable being differentiated and the variable the differentiation is with respect to are each defined in terms of a common parameter, commonly \(t\). An example is the following question:</p>
  <p class="math">$$
    \begin{eqnarray}
      \text{Find } \frac{dy}{dx} \text{ in terms of } t.
      \\
      x &amp;=&amp; \sin t \\
      y &amp;=&amp; t^2 - 4t + 1 \\
    \end{eqnarray}
  $$</p>
  <p>This can be solved by finding \(\frac{dy}{dt}\) and \(\frac{dt}{dx}\), and then multiplying.</p>
  <p class="math">$$
    \begin{eqnarray}
      \frac{dx}{dt} &amp;=&amp; \cos t \\
      \frac{dt}{dx} &amp;=&amp; \frac{1}{\frac{dx}{dt}} \\
      &amp;=&amp; \frac{1}{\cos t} \\
      \frac{dy}{dt} &amp;=&amp; 2t - 4 \\
      \\
      \frac{dy}{dx} &amp;=&amp; \frac{dy}{dt} \cdot \frac{dt}{dx} \\
      &amp;=&amp; (2t - 4) \cdot \frac{1}{\cos t} \\
      &amp;=&amp;  \underline{\underline{\frac{2(t - 2)}{\cos t}}}

    \end{eqnarray}
  $$</p>

  <h3>Second derivative</h3>

  <p>You can also be asked to find the second derivative of a set of parametric equations. This can be done by first finding the first derivative and then making use of the following identity:</p>
  <p class="math">$$
    \begin{eqnarray}
      \frac{d^2 y}{dx^2} &amp;=&amp; \frac{d}{dx}(\frac{dy}{dx}) \\
      &amp;=&amp; \frac{dt}{dx} \cdot \frac{d}{dt}(\frac{dy}{dx})
    \end{eqnarray}
  $$</p>
  <p>Finding the second derivative of the set of parametric equations above. From above:</p>
  <p class="math">$$
    \begin{eqnarray}
      x &amp;=&amp; \sin t \\
      y &amp;=&amp; t^2 - 4t + 1 \\
      \\
      \frac{dy}{dx} &amp;=&amp; \frac{2(t - 2)}{\cos t} \\
      \frac{dt}{dx} &amp;=&amp; \frac{1}{\cos t} \\
      \\
      \frac{d}{dt}(\frac{dy}{dx}) &amp;=&amp; \frac{d}{dt}(\frac{2(t - 2)}{\cos t}) \\
      \\
      u = 2(t - 2) \\
      v = \cos t \\
      \\
      u' = 2t \\
      v' = - \sin t \\
      \\
      \frac{d}{dt}(\frac{2(t - 2)}{\cos t}) &amp;=&amp; \frac{vu' - uv'}{v^2} \\
      &amp;=&amp; \frac{2t \cos t - (- 2(t - 2) \sin t)}{\cos ^2 t} \\
      &amp;=&amp; \frac{2t \cos t + 2(t - 2) \sin t)}{\cos ^2 t} \\
      \\
      \\
      \frac{d^2 y}{dx^2} &amp;=&amp; \frac{d}{dx}(\frac{dy}{dx}) \\
      &amp;=&amp; \frac{dt}{dx} \cdot \frac{d}{dt}(\frac{dy}{dx}) \\
      &amp;=&amp; \frac{1}{\cos t} \cdot \frac{2t \cos t + 2(t - 2) \sin t)}{\cos ^2 t} \\
      &amp;=&amp; \underline{\underline{\frac{2t \cos t + 2(t - 2) \sin t)}{\cos ^3 t}}}

    \end{eqnarray}
  $$</p>
  <h3>Speed formula</h3>
  <p>The speed of an object whose position is given by parametric equations in terms of time \(t\) can be determined using the following formula:</p>
  <p class="math">$$
    \begin{eqnarray}
      \text{speed } &amp;=&amp; \sqrt{(\frac{dx}{dt})^2 + (\frac{dy}{dt})^2} \\
    \end{eqnarray}
  $$</p>
  <p>This is because \(\frac{dy}{dt}\) is the rate of change of position (i.e. speed) in the \(y\) direction and \(\frac{dx}{dt}\) is the rate of change of position (i.e. speed) in the \(x\) direction, and Pythagoras' theorem can be used to find the resultant speed.</p>
  <p>For example, the motion of a particle is given by the following set of parametric equations. Find the speed of the particle when \(t = 3\):</p>
  <p class="math">$$
    \begin{eqnarray}
      x &amp;=&amp; 2 \sin t \\
      y &amp;=&amp; 4 \cos t + 3 \\
      \\
      \frac{dx}{dt} &amp;=&amp; 2 \cos t \\
      \frac{dy}{dt} &amp;=&amp; -4 \sin t \\
      \\
      \text{speed } &amp;=&amp; \sqrt{(\frac{dx}{dt})^2 + (\frac{dy}{dt})^2} \\
      &amp;=&amp; \sqrt{(2 \cos t)^2 + (-4 \sin t)^2} \\
      &amp;=&amp; \sqrt{4 \cos ^2 t + 16 \sin ^2 t} \\
      &amp;=&amp; \sqrt{ 4 + 12 \sin ^2 t} \text{ (since } \sin ^2 t + \cos ^2 t = 1 \\
      \\
      \text{When } t = 3, \\
      \text{speed } &amp;=&amp; \sqrt{ 4 + 12 \sin ^2 (3)} \\
      &amp;=&amp; \underline{\underline{2.008}} \text{ (to 4 s.f.)}

    \end{eqnarray}
  $$</p>
{% endblock explanation %}
