{% extends 'learn/subtopic.html.j2' %}
{% block explanation %}

  <h3>Product Rule with 2 Functions</h3>
  <p>The product rule can be used to differentiate a function which is the product of constituent 2 functions. It is as follows:</p>
  <p class="math">$$


    \text{Let the two composite functions be } u \text{ and } v, \text{ and their derivatives be } u' \text{ and } v' \text{ respectively}. \\
    \text{Let } y = uv. \\
    \\
    \text{The product rule states the following:} \\
    \\
    \frac{dy}{dx} = uv' + vu'

  $$</p>

  <p>For example, the function \( x^2 \sin x \) can be differentiated using the product rule.</p>
  <p class="math">$$
    \begin{eqnarray}
      y &amp;=&amp; x^2 \sin x \\
      \\
      u &amp;=&amp; x^2 \\
      v &amp;=&amp; \sin x \\
      \\
      u' &amp;=&amp; 2x \\
      v' &amp;=&amp; \cos x \\
      \\
      \frac{dy}{dx} &amp;=&amp; uv' + vu' \\
      &amp;=&amp; \underline{\underline{x^2 \cos x + 2x \sin x}}
    \end{eqnarray}

    $$</p>

    <h3>Product Rule with more than 2 Functions</h3>
    <p>The product rule can be used to differentiate a function which is a product of any number of functions by following the same process as above multiple times.</p>
    <p>For example, the function \( x^2 \sin x \cos x \) can be differentiated using the product rule.</p>
    <p class="math">$$
      \begin{eqnarray}
        y &amp;=&amp; x^2 \sin x \cos x \\
        \\
        u &amp;=&amp; x^2 \\
        v &amp;=&amp; \sin x \cos x \\
        \\
        u' &amp;=&amp; 2x \\
        \\
        \\
        \text{Finding }v':
        \\
        s &amp;=&amp; \sin x \\
        t &amp;=&amp; \cos x \\
        \\
        s' &amp;=&amp; \cos x \\
        t' &amp;=&amp; - \sin x \\
        \\
        v' &amp;=&amp; st' + ts' \\
        &amp;=&amp; \sin x (- \sin x) + \cos x \cdot \cos x \\
        &amp;=&amp; \cos ^2 x - \sin ^2 x
        \\
        \\
        \\
        \frac{dy}{dx} &amp;=&amp; uv' + vu' \\
        &amp;=&amp; \underline{\underline{x^2(\cos ^2 x - \sin ^2 x) + 2x \sin x \cos x}}
      \end{eqnarray}

      $$</p>
{% endblock explanation %}
