{% extends 'learn/subtopic.html.j2' %}
{% block explanation %}
  <h3>The second derivative</h3>
  <p>The second derivative can be found by differentiating for first derivative again. It is the rate of change of the slope and has a variety of uses including being a faster alternative to nature tables to determine the nature of turning points. See the <a href="{{ url_for('learn.topic', topic_id='functions_graphs') }}">Functions and Graphs</a> topic for more details. Its most common notations are \( \frac{d^2 y}{dx^2} \) and \( f''(x) \).</p>
  <p>For example, the second derivative of \( y = 4x^4 \) can be found as follows:</p>
  <p class="math">$$
    \begin{eqnarray}
      y &amp;=&amp; 4x^4 \\
      \frac{dy}{dx} &amp;=&amp; 16x^3 \\
      \frac{d^2 y}{dx^2} &amp;=&amp; \underline{\underline{48x^2}}
    \end{eqnarray}
  $$</p>
  <h3>The nth derivative</h3>
  <p>The second derivative can be differentiated to find the third derivative, which can be differentiated again to find the fourth derivative, and so on.</p>
{% endblock explanation %}
